%% vim: ts=4 sw=4 et sts=4 ft=erlang
{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

% don't require qdate
%{deps, [qdate]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        no_unknown
    ]}
]}.

{erl_opts, [
	debug_info
]}.

%{provider_hooks, [
%    {pre, [
%        {compile, {default, ds_syntax}}
%    ]}
%]}.
{plugins, [
    rebar3_dirs
]}.

{ex_doc, [
    {source_url, <<"https://github.com/choptastic/erlang_ds">>},
    {extras, [
            <<"README.md">>,
            <<"LICENSE.md">>
           ]},
    {main, <<"README.md">>},
    {source_url, "https://github.com/choptastic/erlang_ds"},
    {api_reference, true},
    {skip_undefined_reference_warnings_on, []}
]}.

{deps, [
    {meck, "0.9.2"},
    rebar3_dirs
]}.
