name: erlang_ds tests and dialyzer
on: push

jobs:
  linux:
    name: OTP ${{ matrix.otp_version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true

    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        otp_version: ['25.x', '26.x', '27.x', '28.x']
        rebar3_version: ["3.24.0"]

    steps:
      - name: Install OTP ${{matrix.otp_version}}
        uses: erlef/setup-beam@v1
        with:
          version-type: loose
          otp-version: ${{ matrix.otp_version}}
          rebar3-version: ${{ matrix.rebar3_version}}

      - name: Checkout Erlang DS
        uses: actions/checkout@v3

      - name: Test Everything
        run: make test

      - name: Run Dialyzer
        run: make dialyzer
